# Dataset
Dataset/

# Generated dataset
speech_dataset.npz

# Training history
history.npy

# Python cache
__pycache__/
*.py[cod]

# macOS
.DS_Store

# Virtual environments
venv/
.env

# VS Code
.vscode/